.goal {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 11px;
}

.goal__card {
	@apply bg-white rounded-2xl p-5 mb-10;
	box-shadow: 0px 8px 20px rgba(197, 166, 236, 0.05);
}

.goal__card > img {
	@apply mb-2.5;
}

.goal__card > span {
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
	letter-spacing: -0.01em;
	height: 42px;
	width: 100%;
	display: flex;
	align-items: center;
	text-overflow: ellipsis;	
	overflow: hidden;
}

.goal__stats {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.stats__amounts {
	/* @apply m-1.5; */
	display: flex;
	flex-direction: column;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 14px;
}

.stats__amounts span:first-child{
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 16px;
	letter-spacing: -0.03em;
	background: -webkit-linear-gradient( rgba(84, 209, 237, 1), rgba(44, 82, 216, 0.4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}